{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load humanize %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load ratings %}


{% block title %}Property Detail{% endblock %}

{% block content %}
    {% insert_hit_count_js_variables for ad %}
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "home:home" %}"><span style="font-weight:bold;">Home</span></a></li>
                        <li class="breadcrumb-item"><a href="{% url "home:ads_list" %}"><span style="font-weight:bold;">Property List</span></a></li>
{#                        <li class="breadcrumb-item"><a href="{{ ad.category.get_absolute_url }}">{{ ad.category }}</a></li>#}
                        <li class="breadcrumb-item"><a href="{% url 'search:filter' %}?category={{ ad.category }}"><span style="font-weight:bold;">{{ ad.category }}</span></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span style="font-weight:bold;">{{ ad.property_title|title  }}</span></li>
                      </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
   <!-- ============================ Property Detail Start ================================== -->
    <section class="gray">
        <div class="container">

            <div class="row">
                <!-- property main detail -->
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <div class="slide-property-first mb-4 row">
                        <div class="pr-price-into col-lg-6 col-md-6 col-sm-6">
                            <h5>₦{{ ad.property_price|intcomma}} <i>/ {{ ad.rent_period }}</i> <span class="prt-type rent">{{ ad.property_offer }}</span></h5>
                            <span><i class="lni-map-marker"></i> {{ ad.address }}</span>
                        </div>
                        <div class="pr-price-into col-lg-6 col-md-6 col-sm-6">
                            <h5 class="property-name">{{ ad.property_title }}</h5>
                            <span><i class="lni-eye"></i> : {% get_hit_count for ad %} Views</span>

                        </div>
                    </div>

                    <div class="property3-slide single-advance-property mb-4">

                        <div class="slider-for">
                            {% for adv in adsimage %}

                                <a href="{{adv.ad_image.url}}" class="item-slick">
                                    {% thumbnail adv.ad_image "770x511" crop="10px 10px"  as im %}
                                        <img  style="margin:{{ im|margin:"770x511" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="Alt">
                                    {% endthumbnail %}
                                </a>

                            {% endfor %}
                        </div>
                        <div class="slider-nav">
                            {% for adv2 in adsimage %}
                                <div class="item-slick">

                                       {% thumbnail adv2.ad_image "129x86" crop="center"  as im %}
                                         <img  style="margin:{{ im|margin:"129x86" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="Alt">
                                       {% endthumbnail %}

                                </div>
                            {% endfor %}
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Property Info</h4>
                        </div>

                        <div class="block-body">
                            <ul class="dw-proprty-info">
                                <li><strong>Bedrooms</strong>{{ ad.get_bedroom_display }}</li>
                                <li><strong>Bathrooms</strong>{{ ad.get_bathroom_display }}</li>
                                <li><strong>State</strong>{{ ad.state }}</li>
                                <li><strong>Area</strong>{{ ad.property_area}} sq ft</li>
                                <li><strong>Type</strong>{{ ad.category }}</li>
                                <li><strong>House Condition</strong>{{ ad.get_condition_display }}</li>
                                <li><strong>Price</strong>₦{{ ad.property_price|intcomma  }}</li>
                                <li><strong>City</strong>{{ ad.city}}</li>
                                <li><strong>Build On</strong>{{ ad.get_building_age_display }}</li>
                                <li><strong>Propeerty Room</strong>{{ ad.get_property_room_display }}</li>
                                <li><strong>Lot Size</strong>{{ ad.lot_size }}sq ft</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Description</h4>
                        </div>

                        <div class="block-body">
                            <p>{{ ad.description }}</p>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">
							<div class="block-header">
                                <h4 class="block-title">Property Features</h4>
                             </div>
							<div id="accordion" class="accordion">
								<div class="card mb-0">
									<a class="card-header collapsed active " data-toggle="collapse" href="#collapseOne">
										<h5 class="card-title">Ameneties</h5>
									</a>
									<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
										<ul class="avl-features third">
                                        {% if ad.air_conditioning is True %}
                                            <li>Air Conditioning</li>
                                        {% endif %}
                                        {% if ad.swimming_pool is True %}
                                            <li>Swimming Pool</li>
                                        {% endif %}
                                        {% if ad.parking is True %}
                                            <li>Parking Space</li>
                                        {% endif %}
                                        {% if ad.lawn is True %}
                                            <li>Lawn</li>
                                        {% endif %}
                                        {% if ad.gym is True %}
                                            <li>Gym</li>
                                        {% endif %}
                                        {% if ad.sewer is True %}
                                            <li>Sewer</li>
                                        {% endif %}
                                        {% if ad.water is True %}
                                            <li>Water</li>
                                        {% endif %}
                                        {% if ad.microwave is True %}
                                            <li>Microwave</li>
                                        {% endif %}
                                        {% if ad.swimming_pool is True %}
                                            <li>Swimming Pool</li>
                                        {% endif %}
                                        {% if ad.barbecue is True %}
                                            <li>Barbecue</li>
                                        {% endif %}
                                        {% if ad.tv_cable is True %}
                                             <li>Tv Cable</li>
                                        {% endif %}
                                        {% if ad.wi_fi is True %}
                                             <li>Wi_fie</li>
                                        {% endif %}
                                    </ul>
									</div>
									<a class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										<h5 class="card-title">Close to the Property</h5>
									</a>
									<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
										<ul class="avl-features third">
                                            {% if ad.church is True %}
                                                <li>Church</li>
                                            {% endif %}
                                            {% if ad.mosque is True %}
                                                <li>Mosque</li>
                                            {% endif %}
                                            {% if ad.school is True %}
                                                <li>School</li>
                                            {% endif %}
                                            {% if ad.market is True %}
                                                <li>Market</li>
                                            {% endif %}
                                            {% if ad.hospital is True %}
                                                <li>Hospital</li>
                                            {% endif %}
                                            {% if ad.resturant is True %}
                                                <li>Resturant</li>
                                            {% endif %}
                                            {% if ad.beach is True %}
                                                <li>Beach</li>
                                            {% endif %}
                                        </ul>
									</div>
								</div>
							</div>
						</div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Floor Plan</h4>
                        </div>

                        <div class="block-body">
                            <div class="accordion" id="floor-option">
                                <div class="card">
                                    <div class="card-header" id="firstFloor">
                                        <h2 class="mb-0">
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#firstfloor">First Floor</button>
                                        </h2>
                                    </div>
                                    <div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
                                        <div class="card-body">
                                            {% thumbnail ad.plan_image "648x371" crop="center"  as im %}
                                                <img  style="margin:{{ im|margin:"648x371" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="Alt">
                                            {% endthumbnail %}
{#                                            <img src="{{ad.plan_image.url}}" class="img-fluid" alt="" />#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
{#                    <div class="block-wrap">#}
{##}
{#                        <div class="block-header">#}
{#                            <h4 class="block-title">Schedule A Meeting</h4>#}
{#                        </div>#}
{##}
{#                        <div class="block-body">#}
{#                            {{ schedule_form.media }}#}
{#                            <form action="." method="post">#}
{##}
{#                                {% csrf_token %}#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-6">#}
{#                                        {% bootstrap_field schedule_form.date %}#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-6">#}
{#                                        {% bootstrap_field schedule_form.time %}#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-6">#}
{#                                        {% bootstrap_field schedule_form.name %}#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-6">#}
{#                                        {% bootstrap_field schedule_form.phone %}#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-12">#}
{#                                        {% bootstrap_field schedule_form.message %}#}
{#                                    </div>#}
{#                                    <div class="form-group col-lg-3 col-md-3">#}
{#                                       <button class="btn btn-theme full-width">Send Message</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}

{#                    <!-- Single Block Wrap -->#}
{#                    <div class="block-wrap">#}
{##}
{#                        <div class="block-header">#}
{#                            <h4 class="block-title">Location</h4>#}
{#                        </div>#}
{##}
{#                        <div class="block-body">#}
{#                            <div class="map-container">#}
{#                                <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781" data-mapTitle="Our Location"></div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}

                </div>

                <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="page-sidebar">

                        <!-- slide-property-sec -->
                        <div class="slide-property-sec mb-4">
                            <div class="pr-all-info">

                                <div class="pr-single-info">
                                    <div class="share-opt-wrap">
                                        <button type="button" class="btn-share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="Share this">
                                            <i class="lni-share"></i>
                                        </button>
                                        <div class="dropdown-menu animated flipInX">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{request.built_absolute_url}} "
                                               class="cl-facebook"><i class="lni-facebook"></i></a>
                                            <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code
                                                ...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20
                                                {{request.built_absolute_url}}" class="cl-twitter"><i class="lni-twitter"></i></a>
                                            <a href="https://plus.google.com/share?url= {{request.built_absolute_url}}" class="cl-gplus"><i class="lni-google-plus"></i></a>
                                            <a href="#" class="cl-instagram"><i class="lni-instagram"></i></a>
                                        </div>
                                    </div>

                                </div>

{#                                <div class="pr-single-info">#}
{#                                    <a href="JavaScript:Void(0);" class="compare-button" data-toggle="tooltip" data-original-title="Compare"><i class="ti-control-shuffle"></i></a>#}
{#                                </div>#}

                                <div class="pr-single-info" id = "favourite-section">
                                    {% if is_favourite %}
                                        <a href="{% url 'home:favourite_ad' id=ad.id %}"  class="like-bitt add-to-favorite" >
                                            <i class="lni-heart-filled"></i>
                                        </a>
                                    {% else %}
                                         <a href="{% url 'home:favourite_ad' id=ad.id %}" class="like-bitt add-to-favorite" >
                                            <i class="ti-heart"></i>
                                        </a>
                                    {% endif %}
                                </div>

{#                                <div class="pr-single-info" >#}
{##}
{#                                     <span><i class="fas fa-star" {% if rating.average > 0 %} style="color: orange"{% endif %}></i></span>#}
{#                                     <span><i class="fas fa-star" {% if rating.average > 1 %} style="color: orange"{% endif %}></i></span>#}
{#                                     <span><i class="fas fa-star" {% if rating.average > 2 %} style="color: orange"{% endif %}></i></span>#}
{#                                     <span><i class="fas fa-star" {% if rating.average > 3 %} style="color: orange"{% endif %}></i></span>#}
{#                                     <span><i class="fas fa-star" {% if rating.average > 4 %} style="color: orange"{% endif %}></i></span>#}
{##}
{#                                    <span class="rating_num"><a href="{% url 'home:ad_detail_rating' id=ad.id %}">({{ rating.count }})</a></span>#}
{#                                </div>#}
                            </div>
                        </div>

                        <!-- Agent Detail -->
                        <div class="agent-widget">
                            <div class="agent-title">
                                <div class="agent-photo"><img src="{{ ad.profile.photo.url }}" width="72px" height="72px" alt=""></div>
                                <div class="agent-details">
                                    <h4><a>{{ ad.profile.fullname }}</a></h4>
                                    <span><i class="lni-phone-handset"></i>{{ ad.profile.phone }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <form action="." method="post">
                                {{ form.as_p }}
                                {% csrf_token %}

                                 <button class="btn btn-theme full-width">Send Message</button>
                            </form>

                        </div>

                         <!-- Find New Property -->
                        <div class="sidebar-widgets">

                            <h4>Find New Property</h4>
                            <form method="GET" action="{% url 'search:filter' %}">
                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <input type="search" class="form-control" name="title_contains_query" placeholder="Search">
                                        <i class="ti-search"></i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="number" name="ad_price_min" class="form-control" placeholder="Min Price">
                                                <i class="₦">₦</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="number" name="ad_price_max" class="form-control" placeholder="MaxPrice">
                                                <i class="">₦</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <select id="bedrooms" class="form-control" name="bedroom">
                                            <option value=""></option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">More than 5</option>
                                        </select>
                                        <i class="fas fa-bed"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <select id="bathrooms" class="form-control" name="bathroom">
                                            <option value="">&nbsp;</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">More than 5</option>
                                        </select>
                                        <i class="fas fa-bath"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <select id="cities" class="form-control" name="city">
                                            <option value="">&nbsp;</option>
                                            {% for cit in cities %}
                                              <option value="{{ cit }}">{{ cit }}</option>
                                            {% endfor %}
                                        </select>
                                        <i class="ti-briefcase"></i>
                                    </div>
                                </div>

                                <button class="btn btn-theme full-width">Find New Home</button>
                            </form>

                        </div>


                        <!-- Featured Property -->
                        <div class="sidebar-widgets">

                            <h4>Same City Property</h4>

                            <div class="sidebar-property-slide">

                                <!-- Single Property -->
                            {% for city in same_city %}
                                <div class="single-items">
                                    <div class="property-listing property-1">

                                        <div class="listing-img-wrapper">
                                                {% for image in city.get_second_image %}
                                                    {% thumbnail image.ad_image "370x240" crop="10px 10px"  as im %}
                                                        <div><a href="{{ city.get_absolute_url }}">
                                                            <img  style="margin:{{ im|margin:"370x240" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class=" mx-auto"  /></a>
                                                        </div>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            <span class="property-type">{{ city.property_offer }}</span>
                                        </div>

                                        <div class="listing-content">

                                            <div class="listing-detail-wrapper">
                                                <div class="listing-short-detail">
                                                    <span class="listing-location" style="color: #ef6247">{{ city.category }}</span>
                                                    <h4 class="listing-name"><a href="{{  city.get_absolute_url }}">{{ city.property_title}}</a></h4>
                                                    <span class="listing-location"><i class="ti-location-pin"></i>{{ city.address }}</span>
                                                </div>
                                                <div class="list-author">
                                                    <a href="#"><img src="{{ city.profile.photo.url }}" class="img-circle avater-30" alt="" width="30px" height="30px"></a>
                                                </div>
                                            </div>

                                            <div class="listing-features-info">
                                                <ul>
                                                    <li><strong>Bed:</strong>{{ city.bedroom }}</li>
                                                    <li><strong>Bath:</strong>{{ city.bathroom }}</li>
                                                    <li><strong>Sqft:</strong>{{ city.property_area }}</li>
                                                </ul>
                                            </div>

                                            <div class="listing-footer-wrapper">
                                                <div class="listing-price">
                                                    <h4 class="list-pr">₦{{ city.property_price|intcomma }}</h4>
                                                </div>
                                                <div class="listing-detail-btn">
                                                    <a href="{{ city.get_absolute_url }}" class="more-btn">More Info</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {% empty %}
                               <div class="container-fluid">
                                   <h6 style="text-align:center;">No Property found </h6>
                                </div>
                            {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Property Detail End ================================== -->
{% endblock %}
{% block favourite %}

{% endblock %}