{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load prices %}
{% load humanize %}


{% block title %}Property Detail{% endblock %}

{% block content %}
    {% insert_hit_count_js_variables for ad %}
   <!-- ============================ Property Detail Start ================================== -->
    <section class="gray">
        <div class="container">
            <div class="row">

                <!-- property main detail -->
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <div class="slide-property-first mb-4">
                        <div class="pr-price-into">
                            <h2>₦{{ ad.property_price|intcomma}} <i>/ {{ ad.rent_period }}</i> <span class="prt-type rent">{{ ad.property_offer }}</span></h2>
                            <span><i class="lni-map-marker"></i> {{ ad.address }}</span>
                            <p>Views: {% get_hit_count for ad %}</p>
                        </div>
                    </div>

                    <div class="property3-slide single-advance-property mb-4">

                        <div class="slider-for">
                            {% for adv in adsimage %}

                                <a href="{{adv.ad_image.url}}" class="item-slick">
                                    {% thumbnail adv.ad_image "770x511" crop="center"  as im %}
                                        <img  style="margin:{{ im|margin:"770x511" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="Alt">
                                    {% endthumbnail %}
                                </a>

                            {% endfor %}
                        </div>
                        <div class="slider-nav">
                            {% for adv2 in adsimage %}
                                <div class="item-slick">

                                       {% thumbnail adv2.ad_image "129x86" crop="center"  as im %}
                                         <img  style="margin:{{ im|margin:"129x86" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="Alt">
                                       {% endthumbnail %}

                                </div>
                            {% endfor %}
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Property Info</h4>
                        </div>

                        <div class="block-body">
                            <ul class="dw-proprty-info">
                                <li><strong>Bedrooms</strong>{{ ad.bedroom }}</li>
                                <li><strong>Bathrooms</strong>{{ ad.bathroom }}</li>
                                <li><strong>State</strong>{{ ad.state }}</li>
                                <li><strong>Area</strong>{{ ad.property_area}} sq ft</li>
                                <li><strong>Type</strong>{{ ad.category }}</li>
                                <li><strong>House Condition</strong>{{ ad.condition }}</li>
                                <li><strong>Price</strong>₦{{ ad.property_price }}</li>
                                <li><strong>City</strong>{{ ad.city}}</li>
                                <li><strong>Build On</strong>{{ ad.building_age }}</li>
                                <li><strong>Propeerty Room</strong>{{ ad.property_room }}</li>
                                <li><strong>Lot Size</strong>{{ ad.lot_size }}</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Description</h4>
                        </div>

                        <div class="block-body">
                            <p>{{ ad.description }}</p>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Ameneties</h4>
                        </div>

                        <div class="block-body">
                            <ul class="avl-features third">
                                {% if ad.air_conditioning == yes %}
                                    <li>Air Conditioning</li>
                                {% endif %}
                                {% if ad.swimming_pool == yes %}
                                    <li>Swimming Pool</li>
                                {% endif %}
                                {% if ad.parking == yes %}
                                    <li>Parking Space</li>
                                {% endif %}
                                {% if ad.lawn == yes %}
                                    <li>Lawn</li>
                                {% endif %}
                                {% if ad.gym == yes %}
                                    <li>Gym</li>
                                {% endif %}
                                {% if ad.sewer == yes %}
                                    <li>Sewer</li>
                                {% endif %}
                                {% if ad.water == yes %}
                                    <li>Water</li>
                                {% endif %}
                                {% if ad.microwave == yes %}
                                    <li>Microwave</li>
                                {% endif %}
                                {% if ad.swimming_pool == yes %}
                                    <li>Swimming Pool</li>
                                {% endif %}
                                {% if ad.barbecue == yes %}
                                    <li>Barbecue</li>
                                {% endif %}
                                {% if ad.tv_cable == yes %}
                                     <li>Tv Cable</li>
                                {% endif %}
                                {% if ad.wi_fi == yes %}
                                     <li>Wi_fie</li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Floor Plan</h4>
                        </div>

                        <div class="block-body">
                            <div class="accordion" id="floor-option">
                                <div class="card">
                                    <div class="card-header" id="firstFloor">
                                        <h2 class="mb-0">
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#firstfloor">First Floor<span>740 sq ft</span></button>
                                        </h2>
                                    </div>
                                    <div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
                                        <div class="card-body">
                                            <img src="{{ad.plan_image.url}}" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Schedule A Meeting</h4>
                        </div>

                        <div class="block-body">
                            <form action="." method="post">
                            <div class="form-row">

                                {% csrf_token %}
{#                            <div class="">#}
                                    <div class="form-group col-md-6">
                                        {% bootstrap_field schedule_form.date %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% bootstrap_field schedule_form.time %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% bootstrap_field schedule_form.name %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% bootstrap_field schedule_form.phone %}
                                    </div>
                                    <div class="form-group col-md-12">
                                        {% bootstrap_field schedule_form.message %}
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3">
                                       <button class="btn btn-theme full-width">Send Message</button>
                                    </div>
                            </div>
                            </form>

                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Location</h4>
                        </div>

                        <div class="block-body">
                            <div class="map-container">
                                <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781" data-mapTitle="Our Location"></div>
                            </div>

                        </div>

                    </div>





                </div>

                <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="page-sidebar">

                        <!-- slide-property-sec -->
                        <div class="slide-property-sec mb-4">
                            <div class="pr-all-info">

                                <div class="pr-single-info">
                                    <div class="share-opt-wrap">
                                        <button type="button" class="btn-share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="Share this">
                                            <i class="lni-share"></i>
                                        </button>
                                        <div class="dropdown-menu animated flipInX">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{request.built_absolute_url}} "
                                               class="cl-facebook"><i class="lni-facebook"></i></a>
                                            <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code
                                                ...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20
                                                {{request.built_absolute_url}}" class="cl-twitter"><i class="lni-twitter"></i></a>
                                            <a href="https://plus.google.com/share?url= {{request.built_absolute_url}}" class="cl-gplus"><i class="lni-google-plus"></i></a>
                                            <a href="#" class="cl-instagram"><i class="lni-instagram"></i></a>
                                        </div>
                                    </div>

                                </div>

                                <div class="pr-single-info">
                                    <a href="JavaScript:Void(0);" class="compare-button" data-toggle="tooltip" data-original-title="Compare"><i class="ti-control-shuffle"></i></a>
                                </div>

                                <div class="pr-single-info">
                                    {% if is_favourite %}
                                        <a href="{% url 'home:favourite_ads' id=ad.id %}" class="like-bitt add-to-favorite" >
                                            <i class="lni-heart-filled"></i>
                                        </a>
                                    {% else %}
                                         <a href="{% url 'home:favourite_ads' id=ad.id %}" class="like-bitt add-to-favorite" >
                                            <i class="ti-heart"></i>
                                        </a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>

                        <!-- Agent Detail -->
                        <div class="agent-widget">
                            <div class="agent-title">
                                <div class="agent-photo"><img src="{{ ad.profile.photo.url }}" width="72px" height="72px" alt=""></div>
                                <div class="agent-details">
                                    <h4><a href="#">{{ ad.profile.fullname }}</a></h4>
                                    <span><i class="lni-phone-handset"></i>{{ ad.profile.phone }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <form action="." method="post">
                                {{ form.as_p }}
                                {% csrf_token %}

                                 <button class="btn btn-theme full-width">Send Message</button>
                            </form>

                        </div>

                        <!-- Find New Property -->
                        <div class="sidebar-widgets">

                            <h4>Find New Property</h4>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" class="form-control" placeholder="Neighborhood">
                                    <i class="ti-search"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control" placeholder="Minimum">
                                            <i class="ti-money"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control" placeholder="Maximum">
                                            <i class="ti-money"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="bedrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <i class="fas fa-bed"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="bathrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <i class="fas fa-bath"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="cities" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">Los Angeles, CA</option>
                                        <option value="2">New York City, NY</option>
                                        <option value="3">Chicago, IL</option>
                                        <option value="4">Houston, TX</option>
                                        <option value="5">Philadelphia, PA</option>
                                        <option value="6">San Antonio, TX</option>
                                        <option value="7">San Jose, CA</option>
                                    </select>
                                    <i class="ti-briefcase"></i>
                                </div>
                            </div>

                            <button class="btn btn-theme full-width">Find New Home</button>

                        </div>


                        <!-- Featured Property -->
                        <div class="sidebar-widgets">

                            <h4>Featured Property</h4>

                            <div class="sidebar-property-slide">

                                <!-- Single Property -->
                                <div class="single-items">
                                    {% for city in same_city %}
                                    <div class="property-listing property-1">

                                        <div class="listing-img-wrapper">
                                                {% for image in city.get_second_image %}
                                                    {% thumbnail image.ad_image "800x530" crop="10px 10px"  as im %}
                                                        <div><a href="{{ city.get_absolute_url }}">
                                                            <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  /></a>
                                                        </div>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            <div class="listing-like-top">
                                                <i class="ti-heart"></i>
                                            </div>
                                            <div class="listing-rating">
                                                <i class="ti-star filled"></i>
                                                <i class="ti-star filled"></i>
                                                <i class="ti-star filled"></i>
                                                <i class="ti-star filled"></i>
                                                <i class="ti-star"></i>
                                            </div>
                                            <span class="property-type">{{ city.property_offer }}</span>
                                        </div>

                                        <div class="listing-content">

                                            <div class="listing-detail-wrapper">
                                                <div class="listing-short-detail">
                                                    <h4 class="listing-name"><a href="single-property-2.html">{{ city.property_title }}</a></h4>
                                                    <span class="listing-location"><i class="ti-location-pin"></i>{{ city.address }}</span>
                                                </div>
                                                <div class="list-author">
                                                    <a href="#"><img src="assets/img/add-user.png" class="img-fluid img-circle avater-30" alt=""></a>
                                                </div>
                                            </div>

                                            <div class="listing-features-info">
                                                <ul>
                                                    <li><strong>Bed:</strong>{{ city.bedroom }}</li>
                                                    <li><strong>Bath:</strong>{{ city.bathroom }}</li>
                                                    <li><strong>Sqft:</strong>{{ city.property_area }}</li>
                                                </ul>
                                            </div>

                                            <div class="listing-footer-wrapper">
                                                <div class="listing-price">
                                                    <h4 class="list-pr">₦{{ city.property_price|intcomma }}</h4>
                                                </div>
                                                <div class="listing-detail-btn">
                                                    <a href="{{ city.get_absolute_url }}" class="more-btn">More Info</a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Property Detail End ================================== -->
{% endblock %}