{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block title %}{% endblock %}

{% block content %}

        <!-- ============================ Hero Banner  Start================================== -->
        <div class="image-cover hero-banner" style="background:url({% static 'assets/img/a.jpg' %}) no-repeat;">
            <div class="container">
                {% include 'search/other_search.html' %}
            </div>
        </div>
        <!-- ============================ Hero Banner End ================================== -->

        <!-- ============================ Property Start ================================== -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h3>Trending Properties </h3>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- Single Property -->
                    {% for ad in ads %}
						<div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="property-listing property-2">

                                <div class="listing-img-wrapper">
                                    <div class="list-img-slide">

                                        <div class="click">
                                            {% for images in ad.get_first_image %}
                                                {% thumbnail images.ad_image "800x530" crop="10px 10px"  as im %}
                                                    <div><a href="{{ ad.get_absolute_url }}">
                                                        <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  /></a>
                                                    </div>
                                                {% endthumbnail %}
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <span class="property-type">{{ ad.property_offer }}</span>
                                </div>

                                <div class="listing-detail-wrapper pb-0">
                                    <div class="listing-short-detail">
                                        <h4 class="listing-name"><a href="{{ ad.get_absolute_url }}">{{ ad.property_title }}</a></h4>
                                    </div>
                                </div>

                                <div class="price-features-wrapper">
                                    <div class="listing-price-fx">
                                        <h6 class="listing-card-info-price price-prefix">{{ ad.property_price|intcomma}}<span class="price-suffix">/{{ ad.rent_period }}</span></h6>
                                    </div>
                                    <div class="list-fx-features">
                                        <div class="listing-card-info-icon">
                                            <span class="inc-fleat inc-bed">{{ ad.bedroom }}Beds</span>
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <span class="inc-fleat inc-bath">{{ ad.bathroom }} Bath</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

						</div>
                    {% endfor %}
						<!-- End Single Property -->
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="text-center mt-4">
								<a href="{% url 'home:ads_list' %}" class="btn btn-theme-2">Browse More Property</a>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- ============================ Property End ================================== -->

        <!-- ============================ Smart Testimonials ================================== -->
			<section class="image-cover" style="background:url({% static 'assets/img/tour-6.jpg' %})no-repeat;" data-overlay="8">
				<div class="container">
					<div class="row justify-content-center">

						<div class="col-lg-8 col-md-8">

							<div class="smart-textimonials smart-light smart-center" id="smart-textimonials">

								<!-- Single Item -->
                                {% for user_test in users_tests %}
								<div class="item">
									<div class="smart-tes-content">
										<p>{{ user_test.comment }}</p>
									</div>

									<div class="smart-tes-author">
										<div class="st-author-box">
											<div class="st-author-thumb">
                                                <img src="{{ user_test.profile.photo.url }}" class="" alt=""  width="80px" height="80px">
											</div>
											<div class="st-author-info">
												<h4 class="st-author-title">{{ user_test.profile.fullname }}</h4>
												<span class="st-author-subtitle">{{ user_test.position }}</span>
											</div>
										</div>
									</div>
								</div>
                                {% endfor %}

							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ Smart Testimonials End ================================== -->


{% endblock %}