{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% block title %}{% endblock %}

{% block content %}

        <!-- ============================ Hero Banner  Start================================== -->
        <div class="image-cover hero-banner" style="background:url({% static 'assets/img/a.jpg' %}) no-repeat;">
            <div class="container">
                {% include 'search/other_search.html' %}
            </div>
        </div>
        <!-- ============================ Hero Banner End ================================== -->
       <!-- ============================ Slide Property Start ================================== -->
        <section>
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="sec-heading center">
                            <h2>New & featured Property</h2>
                            <p>Find new & featured property for you.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="property-slide">

                            <!-- Single Property -->

                            {% for latest in latests %}
                            <div class="single-items">
                                    <div class="property-listing property-2">

                                        <div class="listing-img-wrapper">
                                            <div class="list-img-slide">

                                                <div class="click">
                                                    {% for images in latest.get_first_image %}
                                                        {% thumbnail images.ad_image "800x530" crop="10px 10px"  as im %}
                                                            <div><a href="{{ latest.get_absolute_url }}">
                                                                <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  /></a>
                                                            </div>
                                                        {% endthumbnail %}
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <span class="property-type">{{ latest.property_offer }}</span>
                                        </div>

                                        <div class="listing-detail-wrapper pb-0">
                                            <div class="listing-short-detail">
                                                <h4 class="listing-name"><a href="{{ latest.get_absolute_url }}">{{ latest.property_title }}</a><i class="list-status ti-check"></i></h4>
                                            </div>
                                        </div>

                                        <div class="price-features-wrapper">
                                            <div class="listing-price-fx">
                                                <h6 class="listing-card-info-price price-prefix">{{ latest.property_price|intcomma}}<span class="price-suffix">/{{ latest.rent_period }}</span></h6>
                                            </div>
                                            <div class="list-fx-features">
                                                <div class="listing-card-info-icon">
                                                    <span class="inc-fleat inc-bed">{{ latest.bedroom }}Beds</span>
                                                </div>
                                                <div class="listing-card-info-icon">
                                                    <span class="inc-fleat inc-bath">{{ latest.bathroom }} Bath</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="text-center mt-4">
                            <a href="{% url 'search:filter' %}" class="btn btn-theme-2">Browse More Property</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ============================ Slide Property End ================================== -->

        <!-- ============================ Agent Start ================================== -->
        <section class="gray-bg">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="sec-heading center">
                            <h2>Our Featured Agent</h2>
                            <p>Find new & featured property for you.</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Agent -->
                {% for agent in agents %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="agents-grid">

                            <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                            <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                            <div class="agents-grid-wrap">

                                <div class="fr-grid-thumb">
                                    <a href="{% url 'others:agent_detail' id=agent.id %}">
                                        <div class="overall-rate">4.4</div>
                                        <img src="{{ agent.photo.url }}" class="img-fluid mx-auto" alt="" />
                                    </a>
                                </div>
                                <div class="fr-grid-deatil">
                                    <h5 class="fr-can-name"><a href="{% url 'others:agent_detail' id=agent.id %}">{{ agent.fullname }}</a></h5>
                                    <span class="fr-position"><i class="lni-map-marker"></i>{{ agent.address }}</span>
                                    <div class="fr-can-rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="fr-grid-info">
                                <ul>
                                {% with total_property_created=ads.agent|length %}
                                <li>Property<span>{{ total_property_created }}</span></li>
                                {% endwith %}
                                <li>Email<span>{{ agent.user.email }}</span></li>
                                <li>Phone<span>{{ agent.phone }}</span></li>
                                </ul>
                            </div>

                            <div class="fr-grid-footer">
                                <a href="{% url 'others:agent_detail' id=agent.id %}" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </section>
        <!-- ============================ Agent End ================================== -->

        <!-- ============================ Property Start ================================== -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h2>Trending Properties For Rent</h2>
								<p>Find new & featured property for you.</p>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- Single Property -->
                    {% for ad in ads %}
						<div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="property-listing property-2">

                                <div class="listing-img-wrapper">
                                    <div class="list-img-slide">

                                        <div class="click">
                                            {% for images in ad.get_first_image %}
                                                {% thumbnail images.ad_image "800x530" crop="10px 10px"  as im %}
                                                    <div><a href="{{ ad.get_absolute_url }}">
                                                        <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  /></a>
                                                    </div>
                                                {% endthumbnail %}
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <span class="property-type">{{ ad.property_offer }}</span>
                                </div>

                                <div class="listing-detail-wrapper pb-0">
                                    <div class="listing-short-detail">
                                        <h4 class="listing-name"><a href="{{ ad.get_absolute_url }}">{{ ad.property_title }}</a><i class="list-status ti-check"></i></h4>
                                    </div>
                                </div>

                                <div class="price-features-wrapper">
                                    <div class="listing-price-fx">
                                        <h6 class="listing-card-info-price price-prefix">{{ ad.property_price|intcomma}}<span class="price-suffix">/{{ ad.rent_period }}</span></h6>
                                    </div>
                                    <div class="list-fx-features">
                                        <div class="listing-card-info-icon">
                                            <span class="inc-fleat inc-bed">{{ ad.bedroom }}Beds</span>
                                        </div>
                                        <div class="listing-card-info-icon">
                                            <span class="inc-fleat inc-bath">{{ ad.bathroom }} Bath</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

						</div>
                    {% endfor %}
						<!-- End Single Property -->
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="text-center mt-4">
								<a href="{% url 'search:filter' %}" class="btn btn-theme-2">Browse More Property</a>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- ============================ Property End ================================== -->

        <!-- ============================ Step How To Use Start ================================== -->
        <section>
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <div class="sec-heading center">
                            <h2>How It Works?</h2>
                            <p>How to start work with us and working process</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-user text-danger"></i><span class="steps bg-danger">01</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Create An Account</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-search text-success"></i><span class="steps bg-success">02</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Find & Search Property</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-location-arrow text-warning"></i><span class="steps bg-warning">03</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Book your Property</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div class="clearfix"></div>
        <!-- ============================ Step How To Use End ================================== -->

        <!-- ============================ Browse Place ================================== -->
        <section class="image-cover" style="background:url({% static 'assets/img/bg-1.jpg' %}) no-repeat;" data-overlay="6">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-9 col-md-10">

                        <div class="sec-heading center light">
                            <h2>Are You Searching Top Places</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                            <a href="#" class="btn btn-theme-2 mt-3">Browse Top Property Places</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ============================ Browse Place End ================================== -->

        <!-- ============================ Testimonials ================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-md-5">

                        <div class="sec-heading">
                            <h2>What People Saying?</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            <a href="#" class="btn btn-theme-2 mt-3">See More Reviews</a>
                        </div>

                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="testi-slide item-slide">

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-5.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Adam Gillworm</h5>
                                                <span class="small-font">Founder Of Apple</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ============================ Testimonials End ================================== -->

{% endblock %}