{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

        <!-- ============================ Hero Banner  Start================================== -->
        <div class="image-cover hero-banner" style="background:url({% static 'assets/img/a.jpg' %}) no-repeat;">
            <div class="container">
                {% include 'search/other_search.html' %}
            </div>
        </div>
        <!-- ============================ Hero Banner End ================================== -->
       <!-- ============================ Slide Property Start ================================== -->
        <section>
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="sec-heading center">
                            <h2>New & featured Property</h2>
                            <p>Find new & featured property for you.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="property-slide">

                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-1.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <span class="property-type">For Rent</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">New Clue Apartment</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">10,547<span class="price-suffix">/mo</span></h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">3 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">1 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-4.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-5.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-6.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <div class="listing-price">
                                            <h4 class="list-pr">$2,580</h4>
                                        </div>
                                        <span class="property-type">For Sale</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">Resort Valley Ocs</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">85,470</h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">2 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">2 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-7.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-9.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-8.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <span class="property-type">For Rent</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">Luxury Home in Manhattan</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">11,584<span class="price-suffix">/mo</span></h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">3 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">2 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-10.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-11.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-12.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <span class="property-type">For Rent</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">Energy Certificate for EU</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">5,750<span class="price-suffix">/mo</span></h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">2 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">1 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-13.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-14.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-15.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <span class="property-type">For Sale</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">Office Space New York</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">187,895</h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">3 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">2 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single Property -->
                            <div class="single-items">
                                <div class="property-listing property-2">

                                    <div class="listing-img-wrapper">
                                        <div class="list-img-slide">
                                            <div class="click">
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-16.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-17.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                                <div><a href="single-property-1.html"><img src="{% static 'assets/img/p-18.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
                                            </div>
                                        </div>
                                        <span class="property-type">For Rent</span>
                                    </div>

                                    <div class="listing-detail-wrapper pb-0">
                                        <div class="listing-short-detail">
                                            <h4 class="listing-name"><a href="single-property-1.html">Apartment to rent in Queens</a><i class="list-status ti-check"></i></h4>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="listing-price-fx">
                                            <h6 class="listing-card-info-price price-prefix">9,587<span class="price-suffix">/mo</span></h6>
                                        </div>
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bed">3 Beds</span>
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <span class="inc-fleat inc-bath">2 Bath</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="text-center mt-4">
                            <a href="#" class="btn btn-theme-2">Browse More Property</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- ============================ Slide Property End ================================== -->

        <!-- ============================ Agent Start ================================== -->
        <section class="gray-bg">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="sec-heading center">
                            <h2>Our Featured Agent</h2>
                            <p>Find new & featured property for you.</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Agent -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="agents-grid">

                            <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                            <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                            <div class="agents-grid-wrap">

                                <div class="fr-grid-thumb">
                                    <a href="http://themezhub.com/">
                                        <div class="overall-rate">4.4</div>
                                        <img src="{% static 'assets/img/user-1.jpg' %}" class="img-fluid mx-auto" alt="" />
                                    </a>
                                </div>
                                <div class="fr-grid-deatil">
                                    <h5 class="fr-can-name"><a href="#">Colin H. Renda</a></h5>
                                    <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                                    <div class="fr-can-rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="fr-grid-info">
                                <ul>
                                    <li>Property<span>306</span></li>
                                    <li>Email<span>colin@gmail.com</span></li>
                                    <li>Phone<span>91 123 456 7859</span></li>
                                </ul>
                            </div>

                            <div class="fr-grid-footer">
                                <a href="#" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                            </div>

                        </div>
                    </div>

                    <!-- Single Agent -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="agents-grid">

                            <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                            <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                            <div class="agents-grid-wrap">

                                <div class="fr-grid-thumb">
                                    <a href="http://themezhub.com/">
                                        <div class="overall-rate">4.3</div>
                                        <img src="{% static 'assets/img/user-2.jpg' %}" class="img-fluid mx-auto" alt="" />
                                    </a>
                                </div>
                                <div class="fr-grid-deatil">
                                    <h5 class="fr-can-name"><a href="#">James N. Green</a></h5>
                                    <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                                    <div class="fr-can-rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="fr-grid-info">
                                <ul>
                                    <li>Property<span>306</span></li>
                                    <li>Email<span>James58@gmail.com</span></li>
                                    <li>Phone<span>91 123 456 7859</span></li>
                                </ul>
                            </div>

                            <div class="fr-grid-footer">
                                <a href="#" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                            </div>

                        </div>
                    </div>

                    <!-- Single Agent -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="agents-grid">

                            <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                            <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                            <div class="agents-grid-wrap">

                                <div class="fr-grid-thumb">
                                    <a href="http://themezhub.com/">
                                        <div class="overall-rate">4.5</div>
                                        <img src="assets/img/user-3.jpg" class="img-fluid mx-auto" alt="" />
                                    </a>
                                </div>
                                <div class="fr-grid-deatil">
                                    <h5 class="fr-can-name"><a href="http://themezhub.com/">Colin H. Renda</a></h5>
                                    <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                                    <div class="fr-can-rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="fr-grid-info">
                                <ul>
                                    <li>Property<span>306</span></li>
                                    <li>Email<span>colin@gmail.com</span></li>
                                    <li>Phone<span>91 123 456 7859</span></li>
                                </ul>
                            </div>

                            <div class="fr-grid-footer">
                                <a href="http://themezhub.com/" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- ============================ Agent End ================================== -->

        <!-- ============================ Property Start ================================== -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h2>Trending Properties For Rent</h2>
								<p>Find new & featured property for you.</p>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-1.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<span class="property-type">For Rent</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">New Clue Apartment</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">10,547<span class="price-suffix">/mo</span></h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">3 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">1 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-4.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-5.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-6.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<div class="listing-price">
										<h4 class="list-pr">$2,580</h4>
									</div>
									<span class="property-type">For Sale</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">Resort Valley Ocs</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">85,470</h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">2 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">2 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-7.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-9.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-8.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<span class="property-type">For Rent</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">Luxury Home in Manhattan</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">11,584<span class="price-suffix">/mo</span></h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">3 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">2 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-10.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-11.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-12.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<span class="property-type">For Rent</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">Energy Certificate for EU</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">5,750<span class="price-suffix">/mo</span></h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">2 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">1 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-13.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-14.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-15.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<span class="property-type">For Sale</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">Office Space New York</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">187,895</h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">3 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">2 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-16.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-17.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="{% static 'assets/img/p-18.jpg' %}" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
									<span class="property-type">For Rent</span>
								</div>

								<div class="listing-detail-wrapper pb-0">
									<div class="listing-short-detail">
										<h4 class="listing-name"><a href="single-property-1.html">Apartment to rent in Queens</a><i class="list-status ti-check"></i></h4>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="listing-price-fx">
										<h6 class="listing-card-info-price price-prefix">9,587<span class="price-suffix">/mo</span></h6>
									</div>
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bed">3 Beds</span>
										</div>
										<div class="listing-card-info-icon">
											<span class="inc-fleat inc-bath">2 Bath</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="text-center mt-4">
								<a href="#" class="btn btn-theme-2">Browse More Property</a>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- ============================ Property End ================================== -->

        <!-- ============================ Step How To Use Start ================================== -->
        <section>
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <div class="sec-heading center">
                            <h2>How It Works?</h2>
                            <p>How to start work with us and working process</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-user text-danger"></i><span class="steps bg-danger">01</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Create An Account</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-search text-success"></i><span class="steps bg-success">02</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Find & Search Property</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="middle-icon-features">
                            <div class="middle-icon-features-item">
                                <div class="middle-icon-large-features-box"><i class="ti-location-arrow text-warning"></i><span class="steps bg-warning">03</span></div>
                                <div class="middle-icon-features-content">
                                    <h4>Book your Property</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have Ipsum available.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div class="clearfix"></div>
        <!-- ============================ Step How To Use End ================================== -->

        <!-- ============================ Browse Place ================================== -->
        <section class="image-cover" style="background:url({% static 'assets/img/bg-1.jpg' %}) no-repeat;" data-overlay="6">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-9 col-md-10">

                        <div class="sec-heading center light">
                            <h2>Are You Searching Top Places</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                            <a href="#" class="btn btn-theme-2 mt-3">Browse Top Property Places</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ============================ Browse Place End ================================== -->

        <!-- ============================ Testimonials ================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-md-5">

                        <div class="sec-heading">
                            <h2>What People Saying?</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
                            <a href="#" class="btn btn-theme-2 mt-3">See More Reviews</a>
                        </div>

                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="testi-slide item-slide">

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-5.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Adam Gillworm</h5>
                                                <span class="small-font">Founder Of Apple</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Sweb Gillworm</h5>
                                                <span class="small-font">Founder Of Google</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-2.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Rial Swittre Gillworm</h5>
                                                <span class="small-font">Founder Of Amazone</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Adam Gillworm</h5>
                                                <span class="small-font">Founder Of Apple</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                            <!-- Single Testimonial -->
                            <div class="single-items">
                                <div class="testimonial-wrap">

                                    <div class="client-thumb-box">
                                        <div class="client-thumb-content">
                                            <div class="client-thumb">
                                                <img src="{% static 'assets/img/user-4.jpg' %}" class="img-responsive img-circle" alt="">
                                            </div>
                                            <div class="client-info">
                                                <h5 class="mb-0">Adam Hirasat</h5>
                                                <span class="small-font">Founder Of Jior</span>
                                            </div>
                                        </div>
                                    </div>

                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ============================ Testimonials End ================================== -->

{% endblock %}