{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <!-- ============================ Agency List Start ================================== -->
    <section>

        <div class="container">

            <!-- Log In Modal -->
            <div class="" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                    <div class="modal-content" id="registermodal">
                        <div class="modal-body">
                            <h2 class="modal-header-title" style="text-align:center;">Password set</h2>
                            <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End Modal -->

        </div>

    </section>
    <!-- ============================ Agency List End ================================== -->
{% endblock %}