{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}
{% load templatehelpers %}

{% block title %}Search for list for properties{% endblock %}

{% block content %}
<!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            {% if not category %}
                                <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Property List</li>
                            {% else %}
                               <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url "home:ads_list" %}">Property Search List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                            {% endif %}
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ All Property ================================== -->
    <section>

        <div class="container">
            <div class="row">

                 <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="page-sidebar">

                        <!-- Find New Property -->
                       {% include 'search/sub_search.html' %}
                    </div>
                    <!-- Sidebar End -->

                </div>

                <div class="col-lg-8 col-md-12 list-layout">
                    <div class="row">

                        <div class="col-lg-12 col-md-12">
                            <div class="filter-fl">
                                {% with total_property=queryset|length %}
                                    <h4>Total Property Find is: <span class="theme-cl">{{ total_property }}</span></h4>
                                {% endwith %}
{#                                  <div class="btn-group custom-drop btn btn-order-by-filt ">#}
                                <div class="btn-group custom-drop">
{#                                    <select id="sort" class=" custom-drop btn btn-order-by-filt">#}
{#                                        <option value = "none">Default</option>#}
{#                                        <option id="latest" value="latest">Latest</option>#}
{#                                        <option id="descending" value="descending">Highest Price</option>#}
{#                                        <option id="ascending" value="ascending">Lowest Price</option>#}
{#                                    </select>#}
                                    <button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Short By<i class="ti-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu pull-right animated flipInX">
                                        <a href={{ request.build_absolute_uri }}{% relative_url '-created_date' 'order' params %}>Latest Property</a>
                                        <a href={{ request.build_absolute_uri }}{% relative_url '-property_price' 'order' params %}>High-Low Price</a>
                                        <a href={{ request.build_absolute_uri }}{% relative_url 'property_price' 'order' params %}>Low-High Price</a>
                                    </div>
                                </div>
                            </div>
                        </div>

{#                        <div id = "no_results">#}
{#                            <h5>No Property found</h5>#}
{#                        </div>#}
                        <!-- Single Property Start -->
                        <div class="col-lg-12 col-md-12 filter_data" id="listing">
                            {% include "search/ajax_search.html" %}
                        </div>
                        <!-- Single Property End -->

                    </div>

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {% if queryset.has_other_pages %}
                              <ul class="pagination p-center">
                                {% if queryset.has_previous %}
                                  <li class="page-item"><a class="page-link" href="?page={{ queryset.previous_page_number }}" aria-label="Previous">&laquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}

                                {% if queryset.number|add:'-4' > 1 %}
                                    <li><a href="?page={{ queryset.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}

                                {% for i in queryset.paginator.page_range %}
                                  {% if queryset.number == i %}
                                    <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% elif i > queryset.number|add:'-5' and i < queryset.number|add:'5' %}
{#                                    <li><a href="?page={{ i }}">{{ i }}</a></li>#}
                                    <li><a href={{ request.build_absolute_uri }}{% relative_url i 'page' request.GET.urlencode %}>{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}

                                {% if queryset.paginator.num_pages > queryset.number|add:'4' %}
                                    <li><a href="?page={{ queryset.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}

                                {% if queryset.has_next %}
                                  <li><a class="page-link" href="?page={{ queryset.next_page_number }}" aria-label="Next">&raquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                              </ul>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ============================ All Property ================================== -->
{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/ads.js' %}" type="text/javascript"></script>
{% endblock %}