{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}Blog post{% endblock %}

{% block content %}
  <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Our Articles</h2>
                    <span class="ipn-subtitle">See Our Latest Articles & News</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agency List Start ================================== -->
    <section>

        <div class="container">

            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading center">
                        <h2>Latest News</h2>
                        <p>We post regulary most powerful articles for help and support.</p>
                    </div>
                </div>
            </div>

            <!-- row Start -->
            <div class="row">

                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="row">

                        <!-- Single blog Grid -->
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-wrap-grid">
                                {% for obj in object_list %}

                                <div class="blog-thumb">
                                {% if obj.image %}
                                    <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" class="img-fluid" alt="" /></a>
                                {% endif%}
                                </div>

                                <div class="blog-info">
                                    <span class="post-date"><i class="ti-calendar"></i>{{ obj.publish }}</span>
                                </div>

                                <div class="blog-body">
                                    <h4 class="bl-title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h4>
                                    <p>{{ obj.content|linebreaks|truncatechars_html:140 }} </p>
                                    <a href="{{ obj.get_absolute_url }}" class="bl-continue">Continue</a>
                                </div>

                                {% endfor %}

                            </div>
                        </div>

                    </div>
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="pagination p-center">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span class="ti-arrow-left"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">18</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span class="ti-arrow-right"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-12 col-sm-12 col-12">

                    <!-- Searchbard -->
                    <div class="single-widgets widget_search">
                        <h4 class="title">Search</h4>
                        <form action="#" class="sidebar-search-form">
                            <input type="search" name="search" placeholder="Search..">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="single-widgets widget_category">
                        <h4 class="title">Categories</h4>
                        <ul>
                            <li><a href="#">Lifestyle <span>09</span></a></li>
                            <li><a href="#">Travel <span>12</span></a></li>
                            <li><a href="#">Fashion <span>19</span></a>
                            </li><li><a href="#">Branding <span>17</span></a></li>
                            <li><a href="#">Music <span>10</span></a></li>
                        </ul>
                    </div>

                    <!-- Trending Posts -->
                    <div class="single-widgets widget_thumb_post">
                        <h4 class="title">Trending Posts</h4>
                        <ul>
                            <li>
                                <span class="left">
                                    <img src="assets/img/tour-1.jpg" alt="" class="">
                                </span>
                                <span class="right">
                                    <a class="feed-title" href="#">Alonso Kelina Falao Asiano Pero</a>
                                    <span class="post-date"><i class="ti-calendar"></i>10 Min ago</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <!-- Tags Cloud -->
                    <div class="single-widgets widget_tags">
                    <h4 class="title">Tags Cloud</h4>
                    <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                </div>

                </div>
            </div>
            <!-- /row -->
             <!-- Pagination -->




        </div>

    </section>
    <!-- ============================ Agency List End ================================== -->
{% endblock %}