{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block title %}Bookmarked property{% endblock %}

{% block content %}
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Welcome!</h2>
                    <span class="ipn-subtitle">Welcome To Your Account</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ User Dashboard ================================== -->
    <section>
        <div class="container">
            <div class="row">

                {% include 'owner/side_bar.html' %}

                <div class="col-lg-8 col-md-12">
                    <div class="dashboard-wraper">

                        <!-- Bookmark Property -->
                        <div class="form-submit">
                            <h4>Bookmark Property</h4>
                        </div>

                        <table class="property-table-wrap responsive-table bkmark">

                            <tbody>
                                <tr>
                                    <th><i class="fa fa-file-text"></i> Property</th>
                                    <th></th>
                                </tr>

                                <!-- Item #1 -->
                                {% for p in favourite_posts %}
                                <tr>
                                    <td class="property-container">
                                        {% for images in p.get_second_image %}
                                            {% thumbnail images.ad_image "150x100" crop="10px 10px"  as im %}
                                            <a href="{{ p.get_absolute_url }}">
                                                <img   src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class=""  />
                                            </a>
                                            {% endthumbnail %}
                                        {% endfor %}
                                        <div class="title">
                                            <h4><a href="{{ p.get_absolute_url }}">{{ p.property_title}}</a></h4>
                                            <span>{{ p.address}}</span>
                                            <span class="table-property-price">₦{{ p.property_price|intcomma}}</span>
                                        </div>
                                    </td>
                                    <td class="action">
                                        <a href="{% url 'home:favourite_ads' id=p.id %}" class="delete" id="delete"><i class="ti-close"></i> Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                 <tr>
                                    <td class="container-fluid" >
                                        <h3 style="text-align:center;"> No Fovourite Property Found</h3>
                                    </td>
                                 </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ User Dashboard End ================================== -->
{% endblock %}