{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block title %}My properties{% endblock %}

{% block content %}
    <!-- ============================ Page Title Start================================== -->
     <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My properties</li>
                      </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ User Dashboard ================================== -->
    <section>
        <div class="container">
            <div class="row">

               {% include 'owner/side_bar.html' %}

                <div class="col-lg-8 col-md-12">
                    <div class="dashboard-wraper">

                        <!-- Bookmark Property -->
                        <div class="form-submit">
                            <h4>My Property</h4>
                        </div>

                        <table class="property-table-wrap responsive-table bkmark">

                            <tbody>
                                <tr>
                                    <th><i class="fa fa-file-text"></i> Property</th>
{#                                    <th class="expire-date"><i class="fa fa-calendar"></i> Expiration Date</th>#}
                                    <th></th>
                                </tr>

                                <!-- Item #1 -->
                                {% for mya in myab %}
                                    <tr>
                                        <td class="property-container">
                                            {% for image in mya.get_second_image %}
                                                {% thumbnail image.ad_image "150x100" crop="10px 10px"  as im %}
                                                    <img  src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="" />
                                                {% endthumbnail %}
{#                                                <img src="{{image.ad_image.url}}" alt="">#}
                                            {% endfor %}
                                            <div class="title">
                                                <h4><a href="{{ mya.get_absolute_url }}">{{mya.property_title}}</a></h4>
                                                <span>{{mya.address|truncatechars_html:30}}.{{ mya.city }}</span>
                                                <span class="table-property-price">₦{{mya.property_price|intcomma}}/ {{mya.rent_period}}</span>
                                            </div>
                                        </td>
{#                                        <td class="expire-date">December 30, 2016</td>#}
                                        <td class="action">
                                            <a href="{% url 'advert:edit_post' pk=mya.pk %}" class="delete"><i class="ti-pencil"></i> Edit</a>
                                            <a href="{% url 'owner:hide_post' pk=mya.pk %}" class="delete"><i class="ti-eye"></i> Hide</a>
                                            <a href="{% url 'owner:delete_post' pk=mya.pk %}" class="delete"><i class="ti-close"></i> Delete</a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                      <td class="container-fluid">
                                        <h4 style="text-align:center;">You have no property.Click to <a href="{% url "advert:post" %}" class="btn btn-theme-2">Submit Property</a></h4>
                                      </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ User Dashboard End ================================== -->
{% endblock %}