{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}About Us{% endblock %}


{% block content %}
<!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                      </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agency List Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <div class="row">

                <div class="col-lg-7 col-md-7">
                    <div class="post-details">

                        <div class="post-featured-img">
                            <img class="img-fluid" src="{% static 'assets/img/p-1.jpg' %}" width="100%" alt="">
                        </div>
                        <h2 class="post-title">About Us</h2>
                        <p>
                            Rockflint is a real estate online platform.
                            With rockflint, customers can easily and stress free locate a property
                            such as land, houses, apartment, shop, hostel, office space etc. that are for sale, lease and rent in any choice area in Nigeria.
                            We also enable that any person that want to sale, lease and rent their property can upload to our platform as agent or agency.
                            We work with companies that develops properties. We have agents waiting for you to contact them for your dream property.
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="contact-info">

                        <h2>Get In Touch</h2>

                        <div class="cn-info-detail">
                            <div class="cn-info-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="cn-info-content">
                                <h4 class="cn-info-title">Drop A Mail</h4>
                                rockflint20@gmail.com
                            </div>
                        </div>

                        <div class="cn-info-detail">
                            <div class="cn-info-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="cn-info-content">
                                <h4 class="cn-info-title">Call Us</h4>
                                +234 806 362 7547<br>+234 706 5979 408
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /row -->

        </div>

    </section>
    <!-- ============================ Agency List End ================================== -->
{% endblock %}