{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}List agent{% endblock %}

{% block content %}
    <!-- ============================ Page Title Start================================== -->
   <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Agent List</li>
                      </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agent List Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <form class="" method="get" action='{% url 'others:agent_list' %}'>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="search" class="form-control" placeholder="Search agents" name='q'>
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn search-btn">Find Agents</button>
                </div>
            </div>
            </form>
            <!-- /row -->

            <div class="row">

                <!-- Single Agent -->
               {% for agent in agents %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="agents-grid">
                        <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                        <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                        <div class="agents-grid-wrap">

                            <div class="fr-grid-thumb">
                                <a href="{% url 'others:agent_detail' id=agent.id %}">
                                    <img src="{{ agent.photo.url }}" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>
                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name"><a href="{% url 'others:agent_detail' id=agent.id %}">{{ agent.fullname }}</a></h5>
                                <span class="fr-position"><i class="lni-map-marker"></i>{{ agent.address }}</span>
                                <div class="fr-can-rating">
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>

                        </div>

                        <div class="fr-grid-info">
                            <ul>
                                {% with total_property_created=ads.agent|length %}
                                <li>Property<span>{{ total_property_created }}</span></li>
                                {% endwith %}
                                <li>Email<span>{{ agent.user.email }}</span></li>
                                <li>Phone<span>{{ agent.phone }}</span></li>
                            </ul>
                        </div>

                        <div class="fr-grid-footer">
                            <a href="{% url 'others:agent_detail' id=agent.id %}" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="container-fluid">
                        <h3 style="text-align:center;">No Agents found </h3>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% if agents.has_other_pages %}
                      <ul class="pagination p-center">
                        {% if agents.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ agents.previous_page_number }}" aria-label="Previous">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in agents.paginator.page_range %}
                          {% if agents.number == i %}
                            <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if agents.has_next %}
                          <li><a class="page-link" href="?page={{ agents.next_page_number }}" aria-label="Next">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
    <!-- ============================ Agent List End ================================== -->
{% endblock %}