{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}


{% block title %}Agency detail{% endblock %}

{% block content %}
    <!-- ============================ Agency Name Start================================== -->
    <div class="agency-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="agency agency-list shadow-0 mb-2 mt-2">

                        <a href="agency-page.html" class="agency-avatar">
                            <img src="assets/img/agency-9.jpg" alt="">
                        </a>

                        <div class="agency-content">
                            <div class="agency-name">
                                <h4><a href="agency-page.html">{{ agency.fullname }}</a></h4>
                                <span><i class="lni-map-marker"></i>{{ agency.address }}</span>
                            </div>

                            <div class="agency-desc">
                            <p>{{ agency.description }}</p>
                            </div>

                            <ul class="agency-detail-info">
                                <li><i class="lni-phone-handset"></i>{{ agency.phone }}</li>
                                <li><i class="lni-envelope"></i><a href="#">{{ agency.user.email }}</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="{{ agency.facebook }}"><i class="lni-facebook"></i></a></li>
                                <li><a class="twitter" href="{{ agency.twitter }}"><i class="lni-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-instagram"></i></a></li>
                                <li><a class="linkedin" href="{{ agency.linkedin }}"><i class="lni-linkedin"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Agency Name ================================== -->

    <!-- ============================ About Agency ================================== -->
    <section class="gray">
        <div class="container">
            <div class="row">

                <!-- property main detail -->
                <div class="col-lg-8 col-md-12 col-sm-12">

                    <!-- Single Block Wrap -->
                    <div class="block-wrap">

                        <div class="block-header">
                            <h4 class="block-title">Agency Info</h4>
                        </div>

                        <div class="block-body">
                            <ul class="dw-proprty-info">
                                <li><strong>Ceo</strong>Mr. Adam Vilawo</li>
                                <li><strong>Email</strong>Isvali@gmail.com</li>
                                <li><strong>Phone</strong>+91 235 658 4758</li>
                                <li><strong>Skype</strong>isva24lia</li>
                                <li><strong>Address</strong>320, Near Iswar</li>
                                <li><strong>City</strong>New York</li>
                                <li><strong>Country</strong>United State</li>
                                <li><strong>Stab.</strong>2007</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Single Block Wrap -->
                    <div class="block-wraps">

                        <div class="block-header">
                            <ul class="nav nav-tabs customize-tab" id="myTab" role="tablist">
{#                              <li class="nav-item">#}
{#                                <a class="nav-link active" id="agent-tab" data-toggle="tab" href="#agent" role="tab" aria-controls="agent" aria-selected="true">Agents</a>#}
{#                              </li>#}
                              <li class="nav-item">
                                <a class="nav-link" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="false">Property</a>
                              </li>
                            </ul>
                        </div>

                        <div class="block-body">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="sale-tab">

                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 list-layout" id="sale-tab">

                                            <!-- Single Listings -->
                                            <div class="property-listing property-1">
                                                {% for agency_ad in agency_ads %}

                                                <div class="listing-img-wrapper">
                                                    {% for images in agency_ad.get_second_image %}
                                                        {% thumbnail images.ad_image "800x530" crop="10px 10px"  as im %}
                                                        <a href="{{ agency_ad.get_absolute_url }}">
                                                            <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  />
                                                        </a>
                                                        {% endthumbnail %}
                                                    {% endfor %}
                                                    <div class="listing-like-top">
                                                        <i class="ti-heart"></i>
                                                    </div>
                                                    <div class="listing-rating">
                                                        <i class="ti-star filled"></i>
                                                        <i class="ti-star filled"></i>
                                                        <i class="ti-star filled"></i>
                                                        <i class="ti-star filled"></i>
                                                        <i class="ti-star"></i>
                                                    </div>
                                                    <span class="property-type">{{ agency_ad.property_offer }}</span>
                                                </div>

                                                <div class="listing-content">

                                                    <div class="listing-detail-wrapper">
                                                        <div class="listing-short-detail">
                                                            <h4 class="listing-name"><a href="{{ agency_ad.get_absolute_url }}">{{ agency_ad.property_title }}</a></h4>
                                                            <span class="listing-location"><i class="ti-location-pin"></i>{{ agency_ad.address }}</span>
                                                        </div>
                                                        <div class="list-author">
                                                            <a href="#"><img src="{{ agency_ad.profile.photo.url }}" class="img-fluid img-circle avater-30" alt=""></a>
                                                        </div>
                                                    </div>

                                                    <div class="listing-features-info">
                                                        <ul>
                                                            <li><strong>Bed:</strong>{{ agency_ad.bedroom }}</li>
                                                            <li><strong>Bath:</strong>{{ agency_ad.bathroom }}</li>
                                                            <li><strong>Sqft:</strong>{{ agency_ad.property_area }}</li>
                                                        </ul>
                                                    </div>

                                                    <div class="listing-footer-wrapper">
                                                        <div class="listing-price">
                                                            <h4 class="list-pr">₦{{ agency_ad.property_price }}</h4>
                                                        </div>
                                                        <div class="listing-detail-btn">
                                                            <a href="{{ agency_ad.get_absolute_url }}" class="more-btn">More Info</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                {% endfor %}

                                            </div>
                                            <!-- End Single Listings -->

                                        </div>
                                    </div>
                                    <!-- // row -->

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                  <a class="page-link" href="#" aria-label="Previous">
                                                    <span class="ti-arrow-left"></span>
                                                    <span class="sr-only">Previous</span>
                                                  </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                <li class="page-item"><a class="page-link" href="#">18</a></li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#" aria-label="Next">
                                                    <span class="ti-arrow-right"></span>
                                                    <span class="sr-only">Next</span>
                                                  </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="page-sidebar">

                        <!-- Find New Property -->
                        <div class="sidebar-widgets">

                            <h4>Find New Property</h4>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <input type="text" class="form-control" placeholder="Neighborhood">
                                    <i class="ti-search"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control" placeholder="Minimum">
                                            <i class="ti-money"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control" placeholder="Maximum">
                                            <i class="ti-money"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="bedrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <i class="fas fa-bed"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="bathrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <i class="fas fa-bath"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-with-icon">
                                    <select id="cities" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">Los Angeles, CA</option>
                                        <option value="2">New York City, NY</option>
                                        <option value="3">Chicago, IL</option>
                                        <option value="4">Houston, TX</option>
                                        <option value="5">Philadelphia, PA</option>
                                        <option value="6">San Antonio, TX</option>
                                        <option value="7">San Jose, CA</option>
                                    </select>
                                    <i class="ti-briefcase"></i>
                                </div>
                            </div>

                            <button class="btn btn-theme full-width">Find New Home</button>

                        </div>

                        <!-- Featured Property -->
                        <div class="sidebar-widgets">

                            <h4>Featured Property</h4>

                            <div class="sidebar-property-slide">

                                <!-- Single Property -->
                                <div class="single-items">
                                    <div class="property-listing property-1">
                                        {% for latest in latests %}

                                            <div class="listing-img-wrapper">
                                                {% for images in latest.get_second_image %}
                                                    {% thumbnail images.ad_image "800x530" crop="10px 10px"  as im %}
                                                    <a href="{{ latest.get_absolute_url }}">
                                                        <img  style="margin:{{ im|margin:"800x530" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid mx-auto"  />
                                                    </a>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                                <div class="listing-like-top">
                                                    <i class="ti-heart"></i>
                                                </div>
                                                <div class="listing-rating">
                                                    <i class="ti-star filled"></i>
                                                    <i class="ti-star filled"></i>
                                                    <i class="ti-star filled"></i>
                                                    <i class="ti-star filled"></i>
                                                    <i class="ti-star"></i>
                                                </div>
                                                <span class="property-type">{{ latest.property_offer }}</span>
                                            </div>

                                            <div class="listing-content">

                                                <div class="listing-detail-wrapper">
                                                    <div class="listing-short-detail">
                                                        <h4 class="listing-name"><a href="{{ latest.get_absolute_url }}">{{ latest.property_title }}</a></h4>
                                                        <span class="listing-location"><i class="ti-location-pin"></i>{{ latest.address }}</span>
                                                    </div>
                                                    <div class="list-author">
                                                        <a href="#"><img src="{{ latest.profile.photo.url }}" class="img-fluid img-circle avater-30" alt=""></a>
                                                    </div>
                                                </div>

                                                <div class="listing-features-info">
                                                    <ul>
                                                        <li><strong>Bed:</strong>{{ latest.bedroom }}</li>
                                                        <li><strong>Bath:</strong>{{ latest.bathroom }}</li>
                                                        <li><strong>Sqft:</strong>{{ latest.property_area }}</li>
                                                    </ul>
                                                </div>

                                                <div class="listing-footer-wrapper">
                                                    <div class="listing-price">
                                                        <h4 class="list-pr">₦{{ latest.property_price }}</h4>
                                                    </div>
                                                    <div class="listing-detail-btn">
                                                        <a href="{{ latest.get_absolute_url }}" class="more-btn">More Info</a>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ About Agency End ================================== -->
{% endblock %}