{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load humanize %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ratings %}


{% block title %}Agent Detail Rating{% endblock %}

{% block content %}
    <!-- ============================ Page Title Start================================== -->
      <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'others:agency_list' %}">Agent List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ agency.fullname }}</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- ============================ Property Detail Start ================================== -->
    <section class="gray">
        <div class="container">

            <div class="row">


                <div class="col-lg-12 col-md-12">
                    <div class="dashboard-wraper">

                        <!-- Bookmark Property -->
                        <div class="form-submit">
                            <h5>Review For <span>{{ agency.fullname }}</span></h5>
                        </div>

                        <table class="property-table-wrap responsive-table bkmark">

                            <tbody>
                                <tr>
                                    <th><i class="fa fa-file-text"></i> {{ rating.count }} Review</th>
                                    <th></th>
                                </tr>

                                <!-- Item #1 -->
                                {% for ur in user_rating %}
                                <tr>
                                    <td class="property-container">
                                        {% if ur.user.profile.photo %}
                                            <img src="{{ ur.user.profile.photo.url }}" alt="user" class=""  width="60px" height="150px" />
                                        {% endif %}
                                        <div class="title">
                                            <h4>{{ ur.user.profile.fullname }}</h4>
                                            <span>{{ ur.created }}</span>
                                        </div>
                                    </td>
                                    <td class="action" style="text-align: right">
                                        <span><i class="fas fa-star" {% if ur.score > 0 %} style="color: orange"{% endif %}></i></span>
                                         <span><i class="fas fa-star" {% if ur.score > 1 %} style="color: orange"{% endif %}></i></span>
                                         <span><i class="fas fa-star" {% if ur.score > 2 %} style="color: orange"{% endif %}></i></span>
                                         <span><i class="fas fa-star" {% if ur.score > 3 %} style="color: orange"{% endif %}></i></span>
                                         <span><i class="fas fa-star" {% if ur.score > 4 %} style="color: orange"{% endif %}></i></span>
                                    </td>
                                </tr>
                                {% empty %}
                                 <tr>
                                    <td class="container-fluid" >
                                        <h3 style="text-align:center;"> No Review</h3>
                                    </td>
                                 </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>

                <br><br><br><br>
                <div class="dashboard-wraper">
                    <h5>Add a review</h5>
                    <form class="row mt-3">
                        <div class="form-group col-12">
                            <div class="star_rating">
                                {% ratings agency %}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Property Detail End ================================== -->
{% endblock %}
{% block favourite %}

{% endblock %}