{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}List of agencies{% endblock %}

{% block content %}
   <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">All Agency</h2>
                    <span class="ipn-subtitle">Lists of our all Popular agencies</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agency List Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
           <form class="" method="get" action='{% url 'others:agency_list' %}'>
            <div class="row mb-3">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="search" class="form-control" placeholder="Search agencies" name='q'>
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button type="submit" class="btn search-btn">Find Agency</button>
                </div>
            </div>
           </form>
            <!-- /row -->

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <!-- Single Agency -->
                    {% for agency in agentes %}
                    <div class="agency agency-list">

                        <a href="{% url 'others:agency_detail' id=agency.id %}" class="agency-avatar">
                            <img src="{{ agency.photo.url }}" class=" mx-auto" alt=""  width="259px" height="259px">
                        </a>

                        <div class="agency-content">
                            <div class="agency-name">
                                <h4><a href="{% url 'others:agency_detail' id=agency.id %}">{{ agency.fullname }}</a></h4>
                                <span><i class="lni-map-marker"></i>{{ agency.address }}</span>
                            </div>

                            <div class="agency-desc">
                            <p>{{ agency.description }}</p>
                            </div>

                            <ul class="agency-detail-info">
                                <li><i class="lni-phone-handset"></i>{{ agency.phone }}</li>
                                <li><i class="lni-envelope"></i><a href="#">{{ agency.user.email }}</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="lni-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="lni-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-instagram"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-linkedin"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>


            <!-- Pagination -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% if agentes.has_other_pages %}
                      <ul class="pagination p-center">
                        {% if agentes.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ agentes.previous_page_number }}" aria-label="Previous">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in agentes.paginator.page_range %}
                          {% if agentes.number == i %}
                            <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if agentes.has_next %}
                          <li><a class="page-link" href="?page={{ agentes.next_page_number }}" aria-label="Next">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>

        </div>

    </section>
    <!-- ============================ Agency List End ================================== -->
{% endblock %}