{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}List of agencies{% endblock %}

{% block content %}
   <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">All Agency</h2>
                    <span class="ipn-subtitle">Lists of our all Popular agencies</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agency List Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <div class="row mb-3">

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="text" class="form-control" placeholder="Search agencies">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a href="#" class="btn search-btn">Find Agency</a>
                </div>

            </div>
            <!-- /row -->

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <!-- Single Agency -->
                    <div class="agency agency-list">
                        {% for agency in agentes %}

                        <a href="{% url 'others:agency_detail' id=agency.id %}" class="agency-avatar">
                            <img src="{{ agency.photo.url }}" alt="">
                        </a>

                        <div class="agency-content">
                            <div class="agency-name">
                                <h4><a href="{% url 'others:agency_detail' id=agency.id %}">{{ agency.fullname }}</a></h4>
                                <span><i class="lni-map-marker"></i>{{ agency.address }}</span>
                            </div>

                            <div class="agency-desc">
                            <p>{{ agency.description }}</p>
                            </div>

                            <ul class="agency-detail-info">
                                <li><i class="lni-phone-handset"></i>{{ agency.phone }}</li>
                                <li><i class="lni-envelope"></i><a href="#">{{ agency.user.email }}</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="lni-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="lni-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-instagram"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-linkedin"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        {% endfor %}

                    </div>

                </div>

            </div>


            <!-- Pagination -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="pagination p-center">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span class="ti-arrow-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">18</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span class="ti-arrow-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>
    <!-- ============================ Agency List End ================================== -->
{% endblock %}