{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}List agent{% endblock %}

{% block content %}
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">All Agents</h2>
                    <span class="ipn-subtitle">Lists of our all expert agents</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Agent List Start ================================== -->
    <section>

        <div class="container">

            <!-- row Start -->
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-with-icon">
                            <input type="text" class="form-control" placeholder="Search agents">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <a href="#" class="btn search-btn">Find Agents</a>
                </div>

            </div>
            <!-- /row -->

            <div class="row">

                <!-- Single Agent -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="agents-grid">
                    {% for agent in agents %}
                        <div class="jb-bookmark"><a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Bookmark"><i class="ti-bookmark"></i></a></div>
                        <div class="agent-call"><a href="#"><i class="lni-phone-handset"></i></a></div>
                        <div class="agents-grid-wrap">

                            <div class="fr-grid-thumb">
                                <a href="{% url 'others:agent_detail' id=agent.id %}">
                                    <div class="overall-rate">4.4</div>
                                    <img src="{{ agent.photo.url }}" class="img-fluid mx-auto" alt="" />
                                </a>
                            </div>
                            <div class="fr-grid-deatil">
                                <h5 class="fr-can-name"><a href="{% url 'others:agent_detail' id=agent.id %}">{{ agent.fullname }}</a></h5>
                                <span class="fr-position"><i class="lni-map-marker"></i>{{ agent.address }}</span>
                                <div class="fr-can-rating">
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star filled"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </div>

                        </div>

                        <div class="fr-grid-info">
                            <ul>
                                {% with total_property_created=ads.agent|length %}
                                <li>Property<span>{{ total_property_created }}</span></li>
                                {% endwith %}
                                <li>Email<span>{{ agent.user.email }}</span></li>
                                <li>Phone<span>{{ agent.phone }}</span></li>
                            </ul>
                        </div>

                        <div class="fr-grid-footer">
                            <a href="{% url 'others:agent_detail' id=agent.id %}" class="btn btn-outline-theme full-width">View Profile<i class="ti-arrow-right ml-1"></i></a>
                        </div>

                    {% endfor %}

                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- ============================ Agent List End ================================== -->
{% endblock %}