{% extends "base_dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block title %}Users List{% endblock %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Users</h1>
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><i class="fa fa-angle-right"></i> Users</li>
      </ol>
    </div>

    <!-- Main content -->
    <div class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="text-black m-b-1">Users List</h4>
                <div class="row m-t-4">
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-darkblue">
                    <div class="col-12">
                    <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                      <div class="info-box-content">
                        <h6 class="info-box-text text-white">Total Users</h6>
                        <h1 class="text-white">{{ agent_all.count }}</h1>
                      </div>
                      </div>
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-green text-white">
                    <div class="col-12">
                    <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                      <div class="info-box-content">
                        <h6 class="info-box-text text-white">New Users</h6>
                        <h1 class="text-white">{{ agent_active.count }}</h1>
                      </div>
                      </div>
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                    <div class="col-12">
                    <span class="info-box-icon bg-transparent"><i class="ti-face-smile"></i></span>
                      <div class="info-box-content">
                        <h6 class="info-box-text text-white">Registered Today</h6>
                        <h1 class="text-white">{{ agent_today.count }}</h1>
                      </div>
                      </div>
                    </div>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                </div>
                <div class="box-body">
                <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>ID #</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <th>Date Joined</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for agent in agents %}
                      <tr>
                        <td>{{ agent.id }}</td>
                        <td><img src="{{ agent.photo.url }}" width="30px" height="30px" class="img-circle img-w-30" alt="User Image"> <a href="{% url 'others:agent_detail' id=agent.id %}">{{ agent.fullname }}</a></td>
                        <td>{{ agent.user.email }}</td>
                        <td>{{ agent.phone }}</td>
                        <td><span class="label label-success">{{ agent.agent_type }}</span></td>
                        <td>{{ agent.user.date_joined }}</td>
                        <td><span class="label label-danger">Delete</span></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID #</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <th>Date Joined</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- Main row -->
    </div>
    <!-- /.content -->
  </div>
{% endblock %}